﻿<div class="header-wrapper">
    <div class="header-logo"><a href="index.html">后台管理系统</a></div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-side">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="header-account dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> <span id="span-account"></span> <i class="fa fa-caret-down"></i>
        </a>
		<ul class="dropdown-menu">
			<li  class="header_role"><a href="javascript:;" data-toggle='modal' data-target='#modal-form-heard' onclick="return searchHeader()"><i class="fa fa-user"></i> 个人资料</a></li>

            <li class="divider header_role"></li>
			<li><a href="login.html"><i class="fa fa-sign-out"></i> 退出登录</a></li>
		</ul>
    </div>
</div>

<div class="modal fade" id="modal-form-heard" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">个人资料</h4>
            </div>
            <form  method="post" class="form-horizontal form-label-left" id='demo-form-header' data-parsley-validate>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="username-header" class="col-sm-3 control-label">用户名<span class="required">*
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input id="username-header" required="required" data-parsley-type="alphanum" minlength="6" type="text" name="username" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password-header1" class="col-sm-3 control-label">密码<span class="required">*
                                    </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="password" id="password-header1" required="required" minlength="6" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password-header" class="col-sm-3 control-label">确认密码<span class="required">*
                                    </span>
                        </label>
                        <div class="col-sm-8">
                            <input id="password-header" type="password" required="required" data-parsley-equalto="#password-header1" class="form-control"/></div>
                    </div>
                    <div class="form-group">
                        <label for="name-header" class="col-sm-3 control-label">姓名<span class="required">*
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input id="name-header" required="required" name="name" type="text" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group tab">
                        <label for="role-header" class="col-sm-3 control-label">角色
                        </label>
                        <div class="col-sm-8">
                          <input id="role-header" disabled name="name" type="text" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone-header" class="col-sm-3 control-label">联系电话</label>
                        <div class="col-sm-8">
                            <input id="phone-header" name="phone" type="text" class="form-control"/>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="hidden" id="hdn-id" value=""/>
                    <button id="btn-header" type="submit" class="btn btn-primary" onclick="return saveHeader()">修改</button>
                    <button type="button" class="btn btn-gray" data-dismiss="modal">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modal-heard" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 19%;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header"style="border:none;padding-bottom: 0">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                    <!--<span aria-hidden="true">&times;</span>-->
                <!--</button>-->
                <h4 class="modal-title">提示！</h4>
            </div>
            <div class="modal-body" style="padding: 0 15px;">
               <h5 class="left">个人信息修改成功</h5>
            </div>
            <div class="modal-footer" style="border:none;padding-top: 0">
                 <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>