<ul id="main-menu" class="nav">
    <li id="roleManage" class="firstLevel" style="display: block">
        <a href="#"><i class="fa fa-edit"></i> 后台权限管理 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="UserManage.html"><i class="fa fa-square-o"></i><span class="menu-name">后台用户管理</span></a></li>
            <li><a href="RoleManage.html"><i class="fa fa-square-o"></i><span class="menu-name">权限管理</span></a></li>
        </ul>
    </li>
    <li id="shopManage" class="firstLevel" style="display: block">
        <a href="#"><i class="fa fa-table"></i> 店铺管理 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="AreaType.html"><i class="fa fa-square-o"></i><span class="menu-name">行业分类</span></a></li>
            <li><a href="NewShopConfirm.html"><i class="fa fa-square-o"></i><span class="menu-name">新店审核</span></a></li>
            <li><a href="ShopMaintain.html"><i class="fa fa-square-o"></i><span class="menu-name">店铺维护</span></a></li>
        </ul>
    </li>
    <li id="shopPersonManage" class="firstLevel" style="display: block">
        <a href="#"><i class="fa fa-desktop"></i> 店铺关联人员管理 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <!--<li><a href="ShopkeeperManage.html"><i class="fa fa-square-o"></i><span class="menu-name">掌柜管理</span></a></li>-->
            <li><a href="EmployeeManage.html"><i class="fa fa-square-o"></i><span class="menu-name">员工管理</span></a></li>
        </ul>
    </li>
    <li id="shopDataManage" class="firstLevel" style="display: block">
        <a href="#"><i class="fa fa-windows"></i> 店铺关联数据管理 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="PromotionInfo.html"><i class="fa fa-square-o"></i><span class="menu-name">促销信息管理</span></a></li><!--device-apply.html-->
            <li><a href="RecruitmentInfo.html"><i class="fa fa-square-o"></i><span class="menu-name">招聘信息管理</span></a></li>
            <li><a href="ActivityInfo.html"><i class="fa fa-square-o"></i><span class="menu-name">合作信息管理</span></a></li>
            <li><a href="DataStatistics.html"><i class="fa fa-square-o"></i><span class="menu-name">数据统计与展示</span></a></li>
            <!--<li><a href="OtherNotificationInfo.html"><i class="fa fa-square-o"></i><span class="menu-name">其它通知信息管理</span></a></li>-->
        </ul>
    </li>
    <li id="shopReportManage" class="firstLevel" style="display: block">
        <a href="#"><i class="fa fa-search"></i> 店铺关联报表管理 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <!--<li><a href="ReportQuery.html"><i class="fa fa-square-o"></i><span class="menu-name">报表查询</span></a></li>-->
            <li><a href="ReportDisplay.html"><i class="fa fa-square-o"></i><span class="menu-name">店铺关联报表</span></a></li>
        </ul>
    </li>
    <!--<li id="feedbackManage" class="firstLevel" style="display: block">-->
        <!--<a href="FeedBackReplay.html"><i class="fa fa-comment"></i> 用户反馈回复 <span class="fa arrow"></span></a>-->
        <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="FeedBackReplay.html"><i class="fa fa-comment-o"></i><span class="menu-name">用户反馈回复</span></a></li>-->
        <!--</ul>-->
    <!--</li>-->
    <li id="systemLogUpdateManage" class="firstLevel" style="display: block;">
        <a href="SystemLogAndUpdate.html"><i class="fa fa-desktop"></i> 系统日志与更新版本管理 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="SystemLogAndUpdate.html"><i class="fa fa-square-o"></i><span class="menu-name">系统日志与更新版本管理</span></a></li>
        </ul>
    </li>
    <li id="systemSetting" class="firstLevel" style="display: block">
        <a href="#"><i class="fa fa-cog"></i> 系统设置 <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse">
            <li><a href="PayInterfaceSetting.html"><i class="fa fa-square-o"></i><span class="menu-name">支付接口设置</span></a></li>
            <li><a href="MessagePushSetting.html"><i class="fa fa-square-o"></i><span class="menu-name">消息推送设置</span></a></li>
            <li><a href="DatabaseBackup.html"><i class="fa fa-square-o"></i><span class="menu-name">数据库备份</span></a></li>
            <li><a href="OtherSystemSetting.html"><i class="fa fa-square-o"></i><span class="menu-name">其他系统设置</span></a></li>
        </ul>
    </li>
</ul>
